
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/ocr.iml
.idea/workspace.xml
__pycache__/args.cpython-36.pyc
__pycache__/data.cpython-36.pyc
ckpts/ckpts/checkpoint
ckpts/ckpts/single_char_model-1.data-00000-of-00001
ckpts/ckpts/single_char_model-1.index
ckpts/ckpts/single_char_model-1.meta
ckpts/ckpts/single_char_model-101.data-00000-of-00001
ckpts/ckpts/single_char_model-101.index
ckpts/ckpts/single_char_model-101.meta
ckpts/ckpts/single_char_model-126.data-00000-of-00001
ckpts/ckpts/single_char_model-126.index
ckpts/ckpts/single_char_model-126.meta
ckpts/ckpts/single_char_model-151.data-00000-of-00001
ckpts/ckpts/single_char_model-151.index
ckpts/ckpts/single_char_model-151.meta
ckpts/ckpts/single_char_model-26.data-00000-of-00001
ckpts/ckpts/single_char_model-26.index
ckpts/ckpts/single_char_model-26.meta
ckpts/ckpts/single_char_model-51.data-00000-of-00001
ckpts/ckpts/single_char_model-51.index
ckpts/ckpts/single_char_model-51.meta
ckpts/ckpts/single_char_model-76.data-00000-of-00001
ckpts/ckpts/single_char_model-76.index
ckpts/ckpts/single_char_model-76.meta
*.xml
